.main-header__logo {
  margin-left: 67px;
  margin-right: 68px;
}
.main-nav__wrapper {
  display: flex;
}
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.main-nav__list-item {
  padding-top: 17px;
  padding-bottom: 12px;
  padding-left: 109px;
  padding-right: 108px;
}
.main-nav__link {
  text-decoration: none;
  color: #ffffff;
}
.page__body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.slogan {
  background: url("../img/back-mobile.jpg") no-repeat;
  height: 389px;
}
.slogan__wrapper {
  display: flex;
  width: 282px;
  margin-left: 19px;
}
.page-about__slogan {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-top: 32px;
  text-transform: uppercase;
}
.page-about__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-top: 32px;
  text-transform: uppercase;
}
.page-about__reasons {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-top: 35px;
  text-transform: uppercase;
}
.page-about__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-top: 35px;
  text-transform: uppercase;
}
.advantages-catalog {
  margin-top: 35px;
}
.advantages-catalog__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.advantages-catalog__title--city,
.advantages-catalog__title--bridge {
  color: #ffffff;
}
.advantages-catalog__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  color: #333333;
}
.advantages-catalog__number--city {
  font-weight: 700;
  color: #ffffff;
}
.advantages-catalog__number--bridge {
  color: #ffffff;
}
.advantages-catalog__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  color: #333333;
}
.advantages-catalog__description--city,
.advantages-catalog__description--bridge {
  color: #ffffff;
}
.advantages-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages-catalog__item {
  background-color: #eeeeee;
}
.advantages-catalog__item--city {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url("../img/city.jpg") no-repeat #81b3d2;
  background-position-x: left;
  background-position-y: 80px;
  height: 360px;
}
.advantages-catalog__item--bridge {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url("../img/bridge.jpg") no-repeat #81b3d2;
  background-position-x: left;
  background-position-y: 80px;
  height: 360px;
}
.addition-list {
  margin-top: 280px;
  background-color: #ffffff;
}
.addition-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.addition-list__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}
.page-accomodation {
  margin-top: 38px;
}
.page-accomodation__notice {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.page-accomodation__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.page-accomodation__link {
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.page-accomodation__map {
  display: flex;
  height: 350px;
  background: url("../../img/map.jpg") no-repeat;
}
.footer {
  margin-top: 10px;
}
.footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.footer__copyright {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
.attractions-sightseeing {
  margin-top: 45px;
}
.attractions-sightseeing__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.attractions-sightseeing__item {
  margin-top: 50px;
}
.attractions-sightseeing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.attractions-sightseeing__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.attractions-sightseeing__likes {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.video-presentation {
  margin-top: 43px;
}
.video-presentation__notice {
  text-transform: uppercase;
}
.video-presentation__description {
  color: #333333;
  text-transform: uppercase;
}
.feedback-form__fieldset {
  margin-top: 20px;
  border: none;
  padding: 0;
}
.feedback-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.feedback-form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.feedback-form__label--name,
.feedback-form__label--surname,
.feedback-form__label--patronymic,
.feedback-form__label--phone,
.feedback-form__label--email {
  color: #333333;
}
.feedback-form__rating-item > .feedback-form__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
.feedback-form__attractions-item > .feedback-form__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
.feedback-form__input {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.feedback-form__textarea {
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  margin-top: 20px;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  resize: none;
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.feedback-form__button {
  margin-top: 56px;
  background-color: #81b3d2;
  outline: none;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
}
.feedback-form__rating-list {
  list-style: none;
  padding: 0;
}
.feedback-form__attractions-list {
  list-style: none;
  padding: 0;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.social__list {
  margin-top: 34px;
  display: flex;
  list-style: none;
}
/*# sourceMappingURL=style.css.map */
