.advantages-catalog {
  margin-top: 35px;
}

.advantages-catalog__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-catalog__title--city,
.advantages-catalog__title--bridge {
  color: #ffffff;
}

.advantages-catalog__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  color: #333333;
}

.advantages-catalog__number--city {
  font-weight: 700;
  color: #ffffff;
}

.advantages-catalog__number--bridge {
  color: #ffffff;
}

.advantages-catalog__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  color: #333333;
}

.advantages-catalog__description--city,
.advantages-catalog__description--bridge {
  color: #ffffff;
}

.advantages-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-catalog__item {
  background-color: #eeeeee;
}

.advantages-catalog__item--city {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url("../img/city.jpg") no-repeat #81b3d2;
  background-position-x: left;
  background-position-y: 80px;
  height: 360px;
}

.advantages-catalog__item--bridge {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url("../img/bridge.jpg") no-repeat #81b3d2;
  background-position-x: left;
  background-position-y: 80px;
  height: 360px;
}

.addition-list {
  margin-top: 280px;
  background-color: #ffffff;
}

.addition-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.addition-list__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}
