.advantages-catalog {
  margin-top: 35px;
}

.advantages-catalog__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-catalog__item--colored .advantages-catalog__title {
  color: #ffffff;
}

.advantages-catalog__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  color: #333333;
}

.advantages-catalog__item--colored .advantages-catalog__number {
  color: #ffffff;
}

.advantages-catalog__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  color: #333333;
}

.advantages-catalog__item--colored .advantages-catalog__description {
  color: #ffffff;
}

.advantages-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-catalog__item {
  background-color: #eeeeee;
}

@media (min-width: @tablet-width) {
  .advantages-catalog__item--colored-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .addition-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .addition-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages-catalog__item-wrapper {
    display: flex;
  }
}

.advantages-catalog__item--colored-wrapper {
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addition-list {
  background-color: #ffffff;
}

.addition-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.addition-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.addition-list__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}
