.feedback-form__fieldset {
  margin-top: 20px;
  border: none;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .feedback-form__form {
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-rows: 280px 280px 280px 280px;
    margin-left: 76px;
  }

  .feedback-form__fieldset--rating {
    grid-column: 1 / span 2;
  }

  .feedback-form__fieldset--attractions {
    grid-column: 1 / span 2;
  }

  .feedback-form__fieldset--review {
    grid-column: 1 / span 2;
  }

  .feedback-form__rating-list {
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-rows: 46px 46px;
  }

  .feedback-form__attractions-list {
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-rows: 46px 46px;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form__form {
    margin-left: 120px;
    width: auto;
  }

  .feedback-form__rating-list,
  .feedback-form__attractions-list {
    display: flex;
  }

  .feedback-form__fieldset--review {
    margin-left: 50px;
  }

  .feedback-form__button {
    margin-left: 50px;
  }
}

.feedback-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback-form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.feedback-form__label--colored {
  color: #333333;
}

.feedback-form__rating-item > .feedback-form__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.feedback-form__attractions-item > .feedback-form__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.feedback-form__input {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.feedback-form__textarea {
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  margin-top: 20px;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  resize: none;
  padding: 0;
}

.feedback-form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.feedback-form__button {
  margin-top: 56px;
  background-color: #81b3d2;
  outline: none;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
}

.feedback-form__rating-list {
  list-style: none;
  padding: 0;
}

.feedback-form__attractions-list {
  list-style: none;
  padding: 0;
}
