.footer {
  margin-top: 10px;
  padding: 29px 78px;
  text-align: center;
}

.social__link {
  display: flex;
  background-color: #81b3d2;
}

@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 49px 60px 36px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 36px 120px 104px;
    background-color: #ffffff;
    margin: 0;
  }
}

.footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.footer__copyright {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

