.main-header {
  display: flex;
  min-height: 56px;
  justify-content: space-around;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  height: 96px;
}

@media (min-width: @tablet-width) {
  .main-header {
    display: block;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
    margin-left: 25px;
  }
}
