.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  margin-top: 17px;
  margin-right: 20px;
  border: none;
  background-image: url("../img/cross.svg");
  background-color: transparent;
  cursor: pointer;
  width: 22px;
  height: 22px;
  right: 0;
  top: -2px;
}

.main-nav__list--opened {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list--closed .main-nav__item {
  display: none;
}

.main-nav__toggle--closed {
  background-image: url("../img/burger.svg");
  background-color: transparent;
  background-repeat: no-repeat;
}

.main-nav__list--opened .main-nav__item--logo {
  display: none;
}

.main-nav__list--closed .main-nav__item--logo {
  display: block;
  z-index: 100;
  margin: 0 auto;
}

.main-nav__list--closed {
  display: flex;
  height: 56px;
}

.main-nav__link {
  display: block;
  color: #ffffff;
  white-space: nowrap;
  background-color: #81b3d2;
  text-decoration: none;
}

.main-nav__item {
  text-align: center;
  min-height: 55px;
  line-height: 53px;
}

.main-nav__link--main {
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}


.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}


@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    justify-content: space-around;
  }

  .main-nav__list--closed .main-nav__item {
    padding: 0;
    box-shadow: none;
    display: block;
    flex-direction: row;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__link {
    background-color: #ffffff;
    text-decoration: none;
    color: #000000;
  }

  .main-nav__link--main {
    color: rgba(118, 99, 87, 1);
    box-shadow: none;
  }

  .main-nav__list--closed .main-nav__item--logo {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }

  .main-nav__item {
    padding-top: 18px;
    padding-bottom: 17px;
    margin-left: 61px;
    margin-right: 25px;
    z-index: 1;
  }

  .main-nav {
    width: 100%;
  }
}
