.main-header {
  display: flex;
  min-height: 56px;
  justify-content: space-around;
}

.main-header__logo {
  margin-left: 67px;
  height: 96px;
}

@media (min-width: @tablet-width) {
  .main-header {
    display: block;
  }

  .main-header__logo {
    position: absolute;
    margin: 0;
    left: 290px;
    z-index: 2;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header__logo {
    position: absolute;
    margin: 0;
    left: 540px;
  }

  .main-nav__toggle {
    display: none;
  }


.main-nav__toggle {
  margin-left: 25px;
}
}
