.main-nav__list {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
  display: flex;
  background-color: #ffffff;
  flex-direction: space-between;
  width: 153px;
  }

}

.main-nav__list-item {
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 48px;
  padding-right: 47px;
  z-index: 1;
}

.main-nav__link {
  text-decoration: none;
  color: #ffffff
}

