.page-accomodation {
  background-color: #ffffff;
  padding-top: 38px;
  margin: 0 auto;
}

.page-accomodation__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;

}

.page-accomodation__notice {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.page-accomodation__link {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 49px;
  justify-content: center;
  padding: 16px 49px;
}

.page-accomodation__map {
  display: flex;
  height: 350px;
  margin-top: 49px;
  width: 100%;
  justify-content: center;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .page-accomodation {
    padding-top: 61px;
  }

  .page-accomodation__notice {
    margin: 0;
    margin-bottom: 39px;
  }

  .page-accomodation__description {
    text-align: center;
    margin: 0;
    margin-bottom: 41px;
  }
  .page-accomodation__link {
    width: 216px;
    padding: 15px 121px 18px;
    margin: 0 auto;
    margin-bottom: 58px;
  }

  .page-accomodation__map-picture {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .page-accomodation {
    margin: 0;
  }

  .page-accomodation__map-picture {
    width: 1280px;
  }
}
