.page-about {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 16px;
}

.page-about__slogan {
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .page-about {
    align-items: center;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 56px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .page-about__title {
    text-align: center;
    margin-bottom: 20px;
  }

  .page-about__description {
    text-align: center;
  }

  .page-about__slogan {
    width: 520px;
    margin: 0;
    margin-bottom: 33px;
  }

}

@media (min-width: @desktop-width) {
  .page-about {
    width: auto;
    align-items: center;
    margin: 0 auto;
  }

  .page-about__description {
    text-align: center;
  }
}

.page-about__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  min-width: 264px;
}

.page-about__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.page-about__reasons {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  text-transform: uppercase;
  min-width: 264px;
}

.page-about__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  text-transform: uppercase;
}

