.page-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 20px 16px 18px;
}

.page-about__slogan {
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-top: 32px;
  text-transform: uppercase;
}

.page-about__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-top: 32px;
  text-transform: uppercase;
}

.page-about__reasons {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-top: 35px;
  text-transform: uppercase;
}

.page-about__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-top: 35px;
  text-transform: uppercase;
}
