.slogan {
  background: url("../img/back-mobile.jpg") no-repeat center;
  height: 389px;
  background-color: #ffffff;
  box-shadow: 6px 0 4px -4px #ffffff, -6px 0 4px -4px #ffffff;
}

.slogan__wrapper {
  display: flex;
  width: 282px;
  margin: 0 auto;
}

