.slogan {
  position: relative;
  display: flex;
  height: 389px;


  @media (min-width: @mobile-width) {
    background-image: url("../img/triangle-left.svg"), url("../img/triangle-right.svg"), url("../img/back-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 160px 57px, 160px 57px, cover;
    background-position: left bottom, right bottom, center;
    background-color: #ffffff;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle-left.svg"), url("../img/triangle-right.svg"), url("../img/back-mobile.jpg");
    }
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/triangle-tablet-left.svg"), url("../img/triangle-tablet-right.svg"), url("../img/back-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 384px 57px, 384px 57px, cover;
    background-position: left bottom, right bottom, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle-tablet-left.svg"), url("../img/triangle-tablet-right.svg"), url("../img/back-tablet-2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/triangle-desktop-left.svg"), url("../img/triangle-desktop-right.svg"), url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 600px 57px, 600px 57px, cover;
    background-position: left bottom, right bottom, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle-desktop-left.svg"), url("../img/triangle-desktop-right.svg"), url("../img/back-desktop-2x.jpg");
    }
  }
}

.slogan-catalog,
.slogan-form {
  height: 214px;
}

.slogan__wrapper {
  display: flex;
  margin: 0 auto;
  margin-top: 75px;
}

@media (min-width: @tablet-width) {
  .slogan {
    height: 518px;
  }

  .slogan__picture {
    width: 461px;
    height: 350px;
  }

  .slogan__wrapper {
    margin-top: 77px;
  }

  .slogan__wrapper-text {
    width: 457px;
    height: 78px;
  }

  .slogan-catalog,
  .slogan-form {
    height: 270px;
    justify-content: center;
  }
}

@media (min-width: @desktop-width) {
  .slogan-catalog {
    height: 270px;
  }

  .slogan__wrapper-text {
    width: 459px;
    height: 80px;
  }
}
