.footer__social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-bottom: 47px;
}

.footer__social-link {
  display: flex;
  background-color: #81b3d2;
  padding: 12px 17px;
  margin-right: 5px;
}

@media (min-width: @tablet-width) {
  .footer__social-list {
    margin-left: 97px;
  }
}
