.main-header {
  display: flex;
}
.main-header__logo {
  margin-left: 67px;
  height: 96px;
}
@media (min-width: 768px) {
  .main-header__logo {
    position: absolute;
    margin: 0;
    left: 291px;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main-header__logo {
    position: absolute;
    margin: 0;
    left: 507px;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-header {
    width: auto;
    justify-content: space-between;
  }
}
.main-nav__toggle {
  margin-left: 25px;
}
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.main-nav__wrapper {
  display: none;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    max-width: 768px;
    width: auto;
    justify-content: space-between;
  }
  .main-nav__list {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    justify-content: space-between;
    width: 1280px;
  }
  .main-nav__list-item {
    padding-top: 18px;
    padding-bottom: 17px;
    margin-left: 91px;
    margin-right: 71px;
    z-index: 1;
  }
  .main-nav__wrapper {
    display: flex;
    max-width: 1280px;
    width: 100%;
    justify-content: space-between;
  }
  .main-nav {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .main-nav__link {
    text-decoration: none;
    color: #000000;
  }
}
.page__body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.slogan {
  background: url("../img/back-mobile.jpg") no-repeat center;
  height: 389px;
  background-color: #ffffff;
}
.slogan__wrapper {
  display: flex;
  width: 282px;
  margin: 0 auto;
}
.page-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page-about {
    width: 458px;
    align-items: center;
    margin: 0 auto;
  }
  .page-about__title {
    text-align: center;
  }
  .page-about__description {
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .page-about {
    width: auto;
    align-items: center;
    margin: 0 auto;
  }
  .page-about__description {
    text-align: center;
  }
}
.page-about__slogan {
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-top: 32px;
  text-transform: uppercase;
}
.page-about__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-top: 32px;
  text-transform: uppercase;
}
.page-about__reasons {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-top: 35px;
  text-transform: uppercase;
}
.page-about__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-top: 35px;
  text-transform: uppercase;
}
.advantages-catalog {
  margin-top: 35px;
  background-color: #ffffff;
}
.advantages-catalog__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.advantages-catalog__item--colored .advantages-catalog__title {
  color: #ffffff;
}
.advantages-catalog__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  color: #333333;
}
.advantages-catalog__item--colored .advantages-catalog__number {
  color: #ffffff;
}
.advantages-catalog__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  color: #333333;
}
.advantages-catalog__item--colored .advantages-catalog__description {
  color: #ffffff;
}
.advantages-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.advantages-catalog__item {
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .advantages-catalog__item--colored-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .addition-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .addition-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .advantages-catalog__item-wrapper {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .advantages-catalog {
    margin: 0;
  }
}
.advantages-catalog__item--colored-wrapper {
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.addition-list {
  background-color: #ffffff;
}
.addition-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.addition-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.addition-list__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}
.page-accomodation {
  margin-top: 38px;
  background-color: #ffffff;
}
@media (min-width: 1280px) {
  .page-accomodation {
    margin: 0;
  }
}
.page-accomodation__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-accomodation__notice {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.page-accomodation__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.page-accomodation__link {
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.page-accomodation__map {
  display: flex;
  height: 350px;
  background: url("../../img/map.jpg") no-repeat;
}
.footer {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 36px 43px 45px;
  }
}
@media (min-width: 1280px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 36px 120px 104px;
    background-color: #ffffff;
    margin: 0;
  }
}
.footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.footer__copyright {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
.attractions-sightseeing {
  margin-top: 45px;
  background-color: #ffffff;
}
.attractions-sightseeing__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .attractions-sightseeing__list {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 347px 347px 347px;
    grid-gap: 30px;
    margin-left: 40px;
  }
  .attractions-sightseeing__item--road {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    min-height: 438px;
  }
}
@media (min-width: 1280px) {
  .attractions-sightseeing__list {
    display: grid;
    grid-template-columns: 324px 324px 324px;
    grid-template-rows: 347px 347px;
    grid-gap: 30px;
  }
  .attractions-sightseeing__item--road {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
    min-height: 438px;
  }
  .attractions-sightseeing {
    margin: 0;
  }
}
.attractions-sightseeing__item {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.attractions-sightseeing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.attractions-sightseeing__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.attractions-sightseeing__likes {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.video-presentation {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .video-presentation {
    margin-left: 40px;
    margin-right: 40px;
  }
  .video-presentation__description {
    width: 500px;
    text-align: center;
  }
  .video-presentation__video {
    background: url("../../img/video-desktop.jpg") no-repeat center;
    width: 648px;
    height: 500px;
  }
}
@media (min-width: 1280px) {
  .video-presentation {
    margin: 0;
    padding-top: 100px;
  }
}
.video-presentation__notice {
  text-transform: uppercase;
}
.video-presentation__description {
  color: #333333;
  text-transform: uppercase;
}
.feedback-form__fieldset {
  margin-top: 20px;
  border: none;
  padding: 0;
}
.feedback-form {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .feedback-form__form {
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-rows: 280px 280px 280px 280px;
    margin-left: 76px;
  }
  .feedback-form__fieldset--rating {
    grid-column: 1 / span 2;
  }
  .feedback-form__fieldset--attractions {
    grid-column: 1 / span 2;
  }
  .feedback-form__fieldset--review {
    grid-column: 1 / span 2;
  }
  .feedback-form__rating-list {
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-rows: 46px 46px;
  }
  .feedback-form__attractions-list {
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-rows: 46px 46px;
  }
}
@media (min-width: 1280px) {
  .feedback-form__form {
    margin-left: 120px;
    width: auto;
  }
  .feedback-form__rating-list,
  .feedback-form__attractions-list {
    display: flex;
  }
  .feedback-form__fieldset--review {
    margin-left: 50px;
  }
  .feedback-form__button {
    margin-left: 50px;
  }
}
.feedback-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.feedback-form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.feedback-form__label--colored {
  color: #333333;
}
.feedback-form__rating-item > .feedback-form__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
.feedback-form__attractions-item > .feedback-form__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
.feedback-form__input {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.feedback-form__textarea {
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  margin-top: 20px;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  resize: none;
  padding: 0;
}
.feedback-form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.feedback-form__button {
  margin-top: 56px;
  background-color: #81b3d2;
  outline: none;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
}
.feedback-form__rating-list {
  list-style: none;
  padding: 0;
}
.feedback-form__attractions-list {
  list-style: none;
  padding: 0;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.social__list {
  margin-top: 34px;
  display: flex;
  list-style: none;
}
@media (min-width: 1280px) {
  .page__body-container {
    background-color: #e7e5e5;
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 40px 0 4px -4px #e7e5e5, -40px 0 4px -4px #e7e5e5;
  }
}
/*# sourceMappingURL=style.css.map */
